{% extends 'template.twig' %}

{% block content %}
  

  <div class="jumbotron">
    <h1 class="display-4">Olá pessoa,</h1>
    <p class="lead">Seja bem vindo ao nosso site. Espero que seja satisfatória sua visita a nossa web-loja.</p>
    <hr class="my-4">
    <p>Se você está lendo isso, é um ótimo sinal. Isso quer dizer que você enxerga e está alfabetizado.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Ler mais</a>
  </div>   

{% endblock %}